<table>
 <tbody>
      <% @users.each do |user| %>
        <tr>
          <td><%= image_tag user.get_profile_image(100,100) %></td>
          <td><%= link_to user.name, admin_user_path(user.id) %></td>
          <td>投稿数<%= user.continues.count %></td>
          <td>
            <% if user.is_deleted == false %>有効
            <% else %>退会
            <% end %>
          </td>
        </tr>
      <% end %>
    </tbody>
</table>